<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Log Arama</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">Log Arama</h1>
    <form action="#" th:action="@{/logs}" method="post" id="logSearchForm">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="startTime">Başlangıç Tarihi:</label>
                <input type="date" id="startTime" name="startTime" class="form-control"
                       th:value="${param.startTime}" required>
            </div>
            <div class="form-group col-md-6">
                <label for="endTime">Bitiş Tarihi:</label>
                <input type="date" id="endTime" name="endTime" class="form-control"
                       th:value="${param.endTime}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="keyword">Anahtar Kelime:</label>
            <input type="text" id="keyword" name="keyword" class="form-control"
                   th:value="${param.keyword}">
        </div>
        <button type="submit" class="btn btn-primary">Ara</button>
    </form>

    <div class="mt-4">
        <h2>Log Sonuçları</h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Tarih</th>
                <th>Mesaj</th>
                <th>Seviye</th>
                <th>İş Parçacığı</th>
                <th>Log Id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="log : ${logs}">
                <td th:text="${log.logTime}">Tarih</td>
                <td th:text="${log.message}">Mesaj</td>
                <td th:text="${log.level}">Seviye</td>
                <td th:text="${log.threadName}">İş Parçacığı</td>
                <td th:text="${log.logId}">Log Id</td>

            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
